# Node
node_modules/
coverage/
*.log*
.cache/
.output/

# Vue / Vite
dist/
components.d.ts

# Nuxt (caso use futuramente)
.nuxt/
.nitro/

# Ambiente
.env

# Sistema
.DS_Store
**/.DS_Store
.idea
.eslintcache
